@font-face {
    font-family: headingfont;
    src: url(japa.ttf);
  }
  #intro{
    color: greenyellow;
    /* font-size: 90px; */
    font-family: headingfont;
    /* font-weight: 500; */
        /* line-height: 1.2; */
    text-shadow: 1px 1px 2px rgb(21, 20, 20), 0 0 25px rgb(35, 62, 9), 0 0 5px rgb(202, 199, 54);
    } 

  #introduction{
    margin-top: 3%;
    margin-bottom: 4%;
    /* height: 756px; */
  }  
  #intro_para{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
  }  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .grid > article {
    /* border: 1px solid #ccc; */
     box-shadow: 2px 2px 6px 0px greenyellow;
     border-radius: 22px;
     transition: .9s;
     
    
  }
  .grid > article:hover{
    box-shadow: 2px 2px 6px 0px greenyellow inset;
    transform:scale(1.1);
    cursor: pointer;
  }
  /* .web3{
    margin-top: 20%;
  } */
  
  .grid > article img {
    max-width: 100%;
  }
  
  .grid .text {
    color: white;
    padding: 20px;
  }
  .border-gradient-green {
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
  }
  .line-dec{
  width: 31%;
    height: 3px;
    background-color: #fbff02;
    margin: 20px auto 15px auto;
  }